/*=============================================
Animacíón botón de compra
=============================================*/
button.pulseAnimation{

	animation: increaseSize 3s infinite;
 
}

@keyframes increaseSize {
	0% {
	transform: scale(1);
	}
	10% {
	transform: scale(1.2);
	}

	20% {
	transform: scale(1);
	}

}

/*=============================================
Quitar controles de number
=============================================*/

input.showQuantity::-webkit-inner-spin-button, 
input.showQuantity::-webkit-outer-spin-button{ 
	-webkit-appearance: none; 
	margin: 0; 
}

.btnInc{
	cursor:pointer;	
}